*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to top ,#04060D,#050020,#000c24,#000a30);
    /* background-color:#04060D; */
    height: 500px;
}

/*
--margin and padding--
margin- used to move content (like table, photo etc)
padding- is used to move element/text (i.e., space between two element)
for margn and padding syntax-
margin: top right bottom left;
padding: top right bottom left;

--Positon property--
-- To affect html element use- relative
-- To affect child, parrent and other element use absolute
-- similarly sticky-(means that should be sticky in that position) , fixed (in both we have to declare top, left, right and bottom)
sticky- means if we scroll then the content is going inside the sticky
and in fixed- the content are fixed
*/ 

html{
    scroll-behavior: smooth;
}

/*Navbar */
.navbar{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #2f2dbc;
    box-shadow: 5px 5px 10px #040042;
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    height: 100px;

}
#logo{
  /* zoom:20%; */
  height: 50px;
  margin-left: 0.6rem;
  margin-top: 0.6rem;
  position: fixed;
  top: 0;
  left:0;
  right: 0;
  bottom: 0;
  box-shadow: 2px 2px 5px #8d8d8d;
}
.navbar h1{
    font-size: 40px;
    color: rgb(17, 255, 0); 
    text-shadow: 1px 1px 4px #2100c9;  
    margin-top: 0.6rem;
}
#tagline{
  font-size: 21px;
  margin-top: 0px;
   color: rgb(17, 255, 0);
   margin-left: 0.6rem;
   margin-top: 0.2rem;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
  
}

.navbar ul li{
    font-family: century;   
    font-size: 1.2rem;
    font-weight: bold;
}
.navbar ul li a{
    margin-right: 10px;
    text-decoration: none;
    padding: 8px 25px;
    transition: all .5s ease;
    border: none;
}

/*This change effect*/
.navbar ul li a:hover{
    background-color: #007fff;
    color: black;
    box-shadow: 0 0 10px #2f2dbc;
    border-radius: 8px;
    border: none;
}

#Details{
    position: absolute;
    width: 700px;
    margin-bottom: 10%;
    height: 500px;
    margin-left: 1.3%;
    

}
.img_tree{
    /* width:100%; */
    height: 320px;
    position:absolute;
    margin-left: 64%;
    z-index: -1;
    box-shadow: 5px 5px 10px #8d8d8d;
    border-radius: 20px;

    
}

#home{
    display: flex;
    flex-direction: column;
     /* background-color: rgba(0,0,0,0.55);    */
   /*  background-color:black;  */
   background: linear-gradient(to top ,#000a30,#0b0046,#000d42,#001258);
    height: 500px;  /*840*/
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-top: 2%;
}
   

#home::before{
    content: "";
    position: absolute;
    width: 100%;
    z-index: -1;   
}

table,.box_text{
    background-color: #092778;
    box-shadow: 2px 2px 8px #8d8d8d;  
    text-align: center;
    /* outline: solid black; */
    outline: none;
    table-layout: 20px;
    color: #adbde0;
    border: 1px solid #8d8d8d;
}
table,th,tr,td{
    padding: 8px;
    border-radius: 20px;
}
th{
    background-color: #2f2dbc;
    box-shadow: 1px 2px 5px #8d8d8d;
}
table{
    width: 80%;
    margin-top: 5%;
}
.box_text{
    padding: 6px;
    margin-top: 5%;
    width: 100%;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
}

#contact{
    margin-top: 500px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background: linear-gradient(to top ,#5c5d5d,#444848,#03060C,#04060D);
}


.big_container{
    /* background: white; */
    color: #fff;
    text-align: center;
    border-radius: 10px;
    text-shadow: 2px 2px 5px #034b93;
    
  }
  .inner{
    margin: auto;
    overflow: hidden;
  }
  .bord{
    width: 300px;
    height: 3px;
    background: #007fff;  
    text-shadow: 2px 2px 5px #034b93;
    margin: auto;
  
  } 
  .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .col{
    box-sizing: border-box;
    padding: 20px;
  }
  .prof{
    /* background: #fff; */
    padding: 30px;
  }
  .prof img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .pname{
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
    font-weight: bold;
    color: #007fff;
    text-shadow: 2px 2px 5px #034b93;
    
  }

  /* ------------- Js Dom --------------- */
  .btn1,.btn2{
    font-size: 20px;
    text-shadow: 2px 4px 8px #003002;  
    margin-top: 6.3rem;
    border-radius: 20px;
    padding: 10px;
    margin-left: 0.4rem;
    box-shadow: 1px 1px 5px #005b17;
    
  }
  .btn1{
    background: rgb(17, 255, 0); 
    color: #1e1e1e;
    
  }
  .btn2{
    background: #ff002f;
    color: #ffffff; 
  }